
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    border: 1px solid blue;
}

.landing-container {
    border: 1px solid red;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-container {
    margin-right: auto;
}

.logo-container img {
    width: 160px;       
}

.nav-links-container {
    display: flex;
    border-bottom: 1px solid #00daf2;
}

.nav-links-container div {
    flex: 1;
}

.nav-links-container a {
    text-decoration: none;
    color: aliceblue;
}

.tools-container {
    display: flex;
}

.tools-container .tool img {
    width: 50%;
}

.tool {
    flex: 1;

}

.hero-section {
    display: flex;
    align-items: center;
    color: aliceblue;
    
}

.hero-intro, .hero-img {
    flex: 1;
}

.hero-intro h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-intro p {
    font-size: 18px;
}

.hero-img {
    text-align: right;
}

.hero-intro button {
    padding: 15px 30px 12px 30px;
    font-weight: bold;
    color: 900;
}

.hero-img img {
    width: 70%;
}

.clients-section {
    display: flex;
}

.clients-logos-container {
    display: flex;
}

.clients-logos-container img {
    width: 100%;
    flex: 1;
}

.cta-container {
    display: flex;
    align-items: center;
}

.cta-text, .cta-btn {
    flex: 1;
}

.cta-btn button {
    display: block;
    width: 100%;
    padding: 10px;
}

.page-footer {
    display: flex;
    padding: 20px 80px;
    background-color: #1F2937;
    color: aliceblue;
    justify-content: flex-end;
    
}

.copyright-container {
    margin-right: auto;
}

.footer-links-container a {
    text-decoration: none;
    color: aliceblue;
    
}

header {
        background-color: #1F2937;
        padding: 10px 80px;
}

.hero-section {
        background-color: #1F2937;
        padding: 40px 80px;
}

section {
    padding: 40px 80px;
}